@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Import Fint*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.customized_header {
  @apply lg:text-[48px] text-[32px] mb-6 font-bold;
}
.customized_h1 {
  @apply text-[2rem] font-bold leading-[3rem] tracking-wide;
}
.customized_h2 {
  @apply text-[1.2rem] font-normal;
}
.customized_h3 {
  @apply font-semibold text-[1rem] cursor-pointer;
}
.customized_p {
  @apply text-[18px];
}
.customized_btn {
  @apply border py-3 rounded-lg text-white bg-pry px-10;
}
.blog_btn {
  @apply border py-2 md:py-3 rounded-lg text-white bg-pry md:px-10 px-3;
}

.polaroid {
  box-shadow: 5px 5px 20px #aaaaaa;
  z-index: 999999999;
  background-color: aliceblue;
  opacity: 0.87;

}
.homes {
  /* background-image: url("../img/think.png"); */
  min-height: 500px;

  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.58)
    ),
    url("../public/think.png");

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
